<h1>Let's Get Drunk, Motherfucker!</h1>

<%= button_to "Sign the fuck up", new_user_path, method: :get, id: "sign_up" %></br>
<%= button_to "Log the fuck in", login_path, method: :get, id: "login_button" %><br>

